@model PrintBed.Models.PrintFile

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PrintFile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label"></label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileExtension" class="control-label"></label>
                <input asp-for="FileExtension" class="form-control" />
                <span asp-validation-for="FileExtension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilePath" class="control-label"></label>
                <input asp-for="FilePath" class="form-control" />
                <span asp-validation-for="FilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileSize" class="control-label"></label>
                <input asp-for="FileSize" class="form-control" />
                <span asp-validation-for="FileSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileTypeId" class="control-label"></label>
                <select asp-for="FileTypeId" class="form-control" asp-items="ViewBag.FileTypeId"></select>
                <span asp-validation-for="FileTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPreivew" class="control-label"></label>
                <input asp-for="IsPreivew" class="form-control" />
                <span asp-validation-for="IsPreivew" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrintId" class="control-label"></label>
                <select asp-for="PrintId" class="form-control" asp-items="ViewBag.PrintId"></select>
                <span asp-validation-for="PrintId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModified" class="control-label"></label>
                <input asp-for="LastModified" class="form-control" />
                <span asp-validation-for="LastModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
