@model PrintBed.Models.Print

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Print</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <div class="input-group">
                    <select id="CategorySelect" asp-for="CategoryId" class="form-select" asp-items="ViewBag.CategoryId"></select>
                    <button class="btn btn-outline-success simpleEditModal-btn" type="button" id="btnAddCategory" data-action="create" data-controller="Categories" data-title="Add New Category" data-id="new" data-updateSelectId="CategorySelect">+</button>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="CreatorId" class="control-label"></label>
                <div class="input-group">
                    <select id="CreatorId" asp-for="CreatorId" class="form-select" asp-items="ViewBag.CreatorId"></select>                    
                    <button class="btn btn-outline-success simpleEditModal-btn" type="button" id="btnAddCreator" data-action="create" data-controller="Creators" data-title="Add New Creator" data-id="new" data-updateSelectId="CreatorId">+</button>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Tags</label>
                <select id="tags-select" name="tags" class="form-select" multiple asp-items="ViewBag.Tags"></select>
                <div class="input-group">
                    <input type="text" id="tags-newtagtext" placeholder="Add New Tag"/>
                    <button class="btn btn-outline-success newTag-btn" type="button" id="tags-newtagbtn" data-update="#tags-select" data-text="#tags-newtagtext">Add</button>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>




<partial name="Modal_simpleEditModal" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        new SlimSelect({
            select: '#tags-select',
            settings: {
                allowDeselect: true,
                closeOnSelect: false,
            }
        });



    </script>
}
