@model PrintBed.Models.Print

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-danger">Delete @Html.DisplayFor(model => model.Name)?!</h1>
<h3 class="text-danger-emphasis">Are You Sure You Want to Delete This Print?</h3>
<h5 class="text-danger-emphasis">All files and Print Details will be Deleted Permanently</h5>
<hr />
<div class="container">

    <dl class="row">
        <dt class = "col-sm-2">
            Print Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Number of Files
        </dt>
        <dd class="col-sm-10">
           @Model.PrintFiles.Count()
        </dd>

    </dl>
</div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @if (!string.IsNullOrEmpty(ViewBag.Referer))
        {
            <a href="@ViewBag.Referer">No Go Back!</a>
        }
        else
        {
            <a href="/home">No Go Back!</a>
        }
    </form>

